{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }, "p1"],
    ["@babel/plugin-proposal-class-properties", { "loose": true }, "p2"],
    ["babel-plugin-styled-components", {}, "p3"]
  ],
  "presets": [["babel-preset-react-app", {}, "p4"]]
}
